body{
      overflow-x: hidden;
      flex-direction: column;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
}

#content {
  width: 35vw;
  display: flex;
  flex-wrap: wrap; /* permite quebrar linha */
  justify-content: center;
  gap: 10px;
}

#content > div {
  flex: 1 1 calc(50% - 10px); /* 2 por linha */
  box-sizing: border-box;
}
