/* Styles for backbutton-last-prod-v2 */
#container tb-markdown-widget {
    height: 100%;
    display: block;
}

#container tb-markdown-widget .tb-markdown-view {
    height: 100%;
    overflow: auto;
}
