.toolbar {
  position: absolute;
  top: 0;
  left: 24px;
  right: 12px;
  height: 60px;
  z-index: 2;
}

.title {
  font-weight: 600;
  font-size: 16px;
  color: #868d9c;
}

.content {
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  height: calc(100% - 44px);
}

.buttons button {
  color: #868d9c;
}
