/* Styles for acionamento-solenoide-com-on-off */
#button img, #button p{
  animation: slide-in 0.5s ease;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

#title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 100%;
    height: 100%;
    margin: 0;
}

#container {
    overflow: hidden;
}

svg{
    height: 90%;
    z-index: 2;
}

.SVGdiv{
    height: 50%;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p{
    margin:0;
   padding: 10px;
   z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo{
    font-size: 1.1rem;
    text-align: center;
}
#conteudo{
    font-size: 1.6rem;
    font-weight: bold;
}
#legenda{
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
}
.svgOnOff{
    position: absolute;
    bottom: 10px;
    right: 10px;
    fill: none;
    transition: fill 0.3s ease;
    z-index: 2;
}


.svgOnOff:hover {
  fill: rgba(15, 196, 130, 0.44);
}

#valve-img {
    height: 80%;
    max-height: 120px;
    transition: opacity 0.3s ease;
}

#button{
    text-align: center;
    cursor: pointer;
    height: 40%;
    color: white;
    align-items: center;
    justify-content:center;
    gap: 30px;
    display: flex;
    width: 80%;
    border-radius: 10px;
    background-color: green;
}

#button .close{
    background-color: red;
}

#button img{
    height: 50%;
}

#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  color:black;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 90%;
  width: 300px;
  font-family: Arial, sans-serif;
}

.modal p {
  margin-bottom: 20px;
  font-size: 16px;
}

.botoes {
  display: flex;
  justify-content: space-around;
}

.botoes button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

#sim {
  background-color: #28a745;
}

#nao {
  background-color: #dc3545;
}